ERD.docx
.vs/
BALayer/bin/
BALayer/obj/
DBLayer/bin/
DBLayer/obj/
LibraryManagement/.vs/
LibraryManagement/obj/
/BALayer/obj/Debug/BALayer.csproj.AssemblyReference.cache
/DBLayer/obj/Debug/DBLayer.csproj.AssemblyReference.cache
/LibraryManagement/obj/Debug/LibraryManagement.csproj.AssemblyReference.cache
/LibraryManagement/.vs/LibraryManagement/v17/.suo
